body{
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
.Home{
    font-size: 5em;
    margin-top: 100px;
}
.parent-div{
    height: 55px;
    background-color: lightyellow;
    display: flex;
    justify-content: space-around;
}
.nav-link{
    font-size: 2em;
    font-weight: bold;
    color: red;
}

table.GeneratedTable {
    width: 80%;
    margin-top: 60px;
    border-collapse: collapse;
    border-width: 2px;
    border-color: grey;
    color: orange;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 5px;
    text-align: center;
    border-color: white;
    border-style: groove;
    padding: 10px;
  }
  th{
    font-size: 1.8em;
  }
  td{
    font-size: 1.2em;
  }
  table.GeneratedTable thead {
    background-color: black;
  }
  .edit{
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
  .btn-add{
    width: 17vw;
    margin-top: 40px;
    margin-left: 135px;
    height: 45px;
    border-radius: 90px;
    border: none;
    background-color: violet;
    font-weight: bold;
    cursor: pointer;
  }